# macOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependencies
node_modules/

# VSCode extension
.history/

.vscode/settings.json

# Yarn files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Node version directives
.nvmrc

# dotenv environment variables file
.env

# Build output
dist
dist-types

# Temporary change files created by Vim
*.swp

# MkDocs build output
site

# VSCode
.vscode/settings.json

# Local configuration files
*.local.yaml

# vscode database functionality support files
*.session.sql

#intellij
.idea

#sqlite
*.sqlite
*.sqlite-journal

github-app-backstage-skip-credentials.yaml
.terraform/
terraform_local/
example.yaml