# Reference documentation http://backstage.io/docs/features/techdocs/configuration
# Note: After experimenting with basic setup, use CI/CD to generate docs
# and an external cloud storage when deploying TechDocs for production use-case.
# https://backstage.io/docs/features/techdocs/how-to-guides#how-to-migrate-from-techdocs-basic-to-recommended-deployment-approach
techdocs:
  builder: 'external'
  publisher:
    type: 'googleGcs'
    googleGcs:
      bucketName: ${TECHDOCS_BUCKET_NAME}
      credentials:
        $file: /var/run/secrets/tokens/gcp-ksa/google-application-credentials.json
      projectId: ${TECHDOCS_PROJECT_ID}

backend:
  database:
    connection:
      ssl:
        ca:
          $file: app/db-ssl-ca/server.crt