*                                                                   @kartverket/skvis
/.security/                                                         @omaen
/Users/truls/work/kv-spire/kartverket.dev/plugins/security-champion @kartverket/skvis
