name: Publish TechDocs Site

on:
  push:
    paths:
     - "docs/**"
     - "mkdocs.yml"

jobs:
  publish-techdocs-site:
    runs-on: ubuntu-latest

    # The following secrets are required in your CI environment for publishing files to AWS S3.
    # e.g. You can use GitHub Organization secrets to set them for all existing and new repositories.
    env:
<<<<<<< HEAD
=======
      WORKLOAD_IDENTITY_PROVIDER: projects/421909719843/locations/global/workloadIdentityPools/grafana-alerts-deploy-pool/providers/github-provider
      SERVICE_ACCOUNT: grafana-alerts-deploy@skip-prod-bda1.iam.gserviceaccount.com
      PROJECT_ID: skip-prod-bda1
>>>>>>> a1f3583 (Add tech docs)
      GCS_BUCKET_NAME: techdocs2019386
      ENTITY_NAMESPACE: 'default'
      ENTITY_KIND: 'Component'
      ENTITY_NAME: 'my-doc-entity'
<<<<<<< HEAD
=======

>>>>>>> a1f3583 (Add tech docs)
      # In a Software template, Scaffolder will replace {{cookiecutter.component_id | jsonify}}
      # with the correct entity name. This is same as metadata.name in the entity's catalog-info.yaml
      # ENTITY_NAME: '{{ cookiecutter.component_id | jsonify }}'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

<<<<<<< HEAD
=======
      - id: 'auth'
        uses: google-github-actions/auth@v0.5.0
        with:
          workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ env.SERVICE_ACCOUNT }}
          project_id: ${{ env.PROJECT_ID }}

>>>>>>> a1f3583 (Add tech docs)
      - uses: actions/setup-node@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install techdocs-cli
        run: sudo npm install -g @techdocs/cli

      - name: Install mkdocs and mkdocs plugins
        run: python -m pip install mkdocs-techdocs-core==1.*

      - name: Generate docs site
        run: techdocs-cli generate --no-docker --verbose

      - name: Publish docs site
        run: techdocs-cli publish --publisher-type googleGcs --storage-name $GCS_BUCKET_NAME --entity $ENTITY_NAMESPACE/$ENTITY_KIND/$ENTITY_NAME
